<connectionStrings>
	<add name="OracleConnection"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));User Id=C##saludigital;Password=12345678"
         providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>